@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

h1 {
    color: #00ff55;
}

section {
    display: none;
    color:  white;
}

button {
    padding: 15px 50px;
    margin: 20px 0px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

span {
    display: block;
    margin: auto 0;
    border-radius: 10px;
}





.container {
    margin: 0 auto;
    padding: 3rem 5rem;
    border-radius: 50px;
    background: rgba(20, 20, 20, 0.4);
    border-radius: 16px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(15.5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 3px 30px 0px rgba(255, 166, 0, 0.5);
}

#perdiste {
    background: linear-gradient(60deg, #a00000, #e20000);
    border-radius: 10px;
    padding: 10px 0px;
    margin: 20px 0px;
    color: white;
}

#timeSpan {
    background: blue;
    padding: 10px;
    background: linear-gradient(45deg, #ff3f3f, #e90059);
}

#score {
    background: linear-gradient(45deg, #e4ba00, #e45503);
    padding: 10px 30px;
}

.subtitle {
    color: white;
}

.titulo {
    margin: 1rem 0rem;
    font-size: 30px;
    color: #e0be00;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats {
    display: flex;
    margin: 1rem auto;
    gap: 2.5rem;
    color: white;
}

.separador {
    height: 100px;
    width: 2px;
    background: white;
}





/* FONDO */
.area{
    z-index: -1;
    position: absolute;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}